<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WpfWebRTCPlayer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="WpfWebRTCPlayer.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WpfWebRTCPlayer.Properties.Settings>
            <setting name="set_serverAddress" serializeAs="String">
                <value>ws://10.10.10.35:3333/app/stream</value>
            </setting>
            <setting name="set_playAuto" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="set_playerWidth" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="set_playerHeight" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="WindowWidth" serializeAs="String">
                <value>450</value>
            </setting>
            <setting name="WindowHeight" serializeAs="String">
                <value>217</value>
            </setting>
            <setting name="WindowTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="set_closeHour" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="set_closeMinute" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="set_closeEnable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="set_closeExit" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="set_openHour" serializeAs="String">
                <value>13</value>
            </setting>
            <setting name="set_openMinute" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="set_openEnable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="set_autorunEnable" serializeAs="String">
                <value>False</value>
            </setting>
        </WpfWebRTCPlayer.Properties.Settings>
        <WpfWebRTCPlayer.Settings1>
            <setting name="set_address" serializeAs="String">
                <value>ws://10.10.10.35:3333/app/stream</value>
            </setting>
            <setting name="set_playByDefault" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="set_playerWidth" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="set_playerHeight" serializeAs="String">
                <value>400</value>
            </setting>
        </WpfWebRTCPlayer.Settings1>
    </userSettings>
</configuration>